/* Navigation Container */
.main_menu {
  box-sizing: border-box;
  padding: 20px;
  background-color: #0f172a; /* Dark navy background */
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hamburger Icon */
.hamburger {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Hidden by default, shown on mobile */
}

/* Navigation List */
ul.nav_list {
  display: flex;
  align-items: center;
  list-style: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
}

/* Navigation Items */
li.nav_item {
  margin-right: 20px;
}

/* User Access Links */
.user_access {
  display: flex; /* Arrange Login and Signup inline */
}

/* Logo Styling */
.logo a.link {
  font-size: 1.8rem;
  font-weight: bold;
  color: #00d1b2;
}

/* Links Styling */
a.link {
  text-decoration: none;
  color: #e0e0e0; /* Light grey text */
  font-size: 1rem;
  transition: color 0.3s;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Hover Effect */
a.link:hover {
  color: #ffffff; /* White on hover */
  background-color: rgba(255, 255, 255, 0.1); /* Light translucent background */
}



/* Responsive Styles */
@media (max-width: 768px) {
  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Base Styles for nav_list */
  .nav_list {
    width: 200px;
    flex-direction: column;
    justify-content: start;
    background-color: #17233f; /* Match the nav background */
    position: absolute; /* Position below the navbar */
    top: 106px; /* Adjust based on your navbar height */
    left: 0;
    box-sizing: border-box;
    padding: 10px;

    /* Hidden by default */
    opacity: 0;
    height: 0;
    overflow: hidden; /* Hide content when collapsed */
    visibility: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
  }

  /* Show navigation when active */
  .nav_list.active {
    height: 300px; /* Adjust based on the total height of your nav items */
    opacity: 1;
    visibility: visible;
  }

  .user_access {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* Show hamburger icon on mobile */
  .hamburger {
    display: block; /* Show hamburger on mobile */
  }

  /* Adjust margins for mobile */
  li.nav_item {
    margin: 10px 0; /* Space out items in mobile view */
  }
}
